#Segunda Unidade
##1º Lista de exercícios 

Exercícios com base na aula presencial do dia 09/05 e deverá ser enviado até domingo (15/05). Dessa maneira, vocês podem me enviar o link dessa lista respondida (lembrar de autorizar qualquer pessoa com link de visualizar) ou fazer o download do arquivo (Arquivo > Fazer download > Fazer download do .ibynb) e me enviar por e-mail.

In [2]:
import pandas as pd

In [106]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
dados = pd.read_excel('/content/Lista 1 a 10.xlsx')

dados['lista']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: lista, dtype: int64

In [8]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
Compras = ['Carro','casa','mobilia','moto','bicicleta']

In [11]:
Compras

['Carro', 'casa', 'mobilia', 'moto', 'bicicleta']

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string (com um espaço entre elas)

In [14]:
str = "casa"
str += " da moeda"
str

'casa da moeda'

In [ ]:
# Exercício 4 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo um inteiro, o terceiro um float e quarto um booleano.
# Imprima a lista na tela.

In [24]:
 str1 = "lindo"
 x = 4
 y = 0.5
 Mariano = [10,9,8]
 mariano = [str1,x,y, Mariano is 1]
 mariano

['lindo', 4, 0.5, False]

In [33]:
# Exercício 5 - Considere a string abaixo. Imprima na tela apenas o nome "atuaria".
curso = "ciências atuariais"
curso [9:16]

'atuaria'

In [96]:
# Exercício 6 - Crie uma variável tipo inteira e converta para tipo float.
inteiro = 3
print(f'O número com floot é {inteiro:.2f}')

O número com floot é 3.00

In [87]:
# Exercício 7 - Faça uma divisão retorando um número inteiro como resultado
x= 20
y=2
x/y

10.0

In [85]:
# Exercício 8 - Imprima a frase "Palmeiras não tem mundial" cinco vezes, através de código e sem digitar mais de uma vez a frase. 
for i in range(5):
	print (" Palmeiras não tem mundial")

 Palmeiras não tem mundial
 Palmeiras não tem mundial
 Palmeiras não tem mundial
 Palmeiras não tem mundial
 Palmeiras não tem mundial

In [122]:
# Exercício 9 - Crie cada uma das 5 classes de variaveis ensinadas e imprima o tipo da variavel (sem escrever o nome da variável).
x = 8
y = 9.5
z = ["é feio"]
mariano = [5,6,7]
Marianoneto = [x,y,z, mariano is 1]

Marianoneto

[8, 9.5, ['é feio'], False]

In [63]:
# Exercício 10 - Dada a lista de compras abaixo, substitua maças por bananas 
listadomercado = ["ovos", "farinha", "leite", "maças"]
listadomercado[3] = "bananas" 
print(listadomercado)

['ovos', 'farinha', 'leite', 'bananas']

In [81]:
# Exercício 11 - Print a lista de compras abaixo, sem o item "ovos" 
listadomercado = ["ovos", "farinha", "leite", "maças"]
listadomercado.pop(0)
print(listadomercado)

['farinha', 'leite', 'maças']

In [66]:
# Exercício 12 - Dada a lista de compras abaixo, adicione cerveja, carne e carvão (#sextou) e imprima a nova lista.
listadomercado = ["ovos", "farinha", "leite", "maças"]
listadomercado += ["cerveja", "carne", "carvão", "#sextou"]
print(listadomercado)

['ovos', 'farinha', 'leite', 'maças', 'cerveja', 'carne', 'carvão', '#sextou']

In [82]:
# Exercício 13 - Print a lista de compras abaixo, sem o item "farinha" 
listadomercado = ["ovos", "farinha", "leite", "maças"]
listadomercado.pop(1)
print(listadomercado)

['ovos', 'leite', 'maças']

In [84]:
# Exercício 14 - Arredonde a variável x para 1.
x = 9 / 10
print(round(x))

1